/
  .chapter#before
    .copy
  .chapter#meet
    .copy
      They met
  .chapter#mexico
    .copy
      Went to mexico

/
  .chapter#moved_in
    .copy
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex
  .chapter#quirks
    .copy
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex
  .chapter#av_family
    .copy
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex
  .chapter#jay_family
    .copy
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex
  .chapter#engagement
    .copy
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex
  .chapter#family
    .copy
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex
  .chapter#wedding
    .copy
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex

#main{:role => "main"}
  %section#meet.chapter{"data-speed" => "4", "data-type" => "background"}
    = image_tag('meet/40995_675809265962_7834687_n.jpeg', :class => 'tilt-right')
    = image_tag('meet/25774_650336478632_2295611_n.jpeg', :class => 'tilt-left')
    %a{:href => 'meet/voicemail.mp3'}
      = image_tag('meet/voicemail.jpeg', :class => 'tilt-left')

  %section#mexico.chapter{"data-speed" => "4", "data-type" => "background"}
    = image_tag('mexico/148799_10100404697175434_4849958_n.jpeg', :class => 'tilt-left')
    = image_tag('mexico/75328_10100404697674434_3934648_n.jpeg', :class => 'tilt-right')
    = image_tag('mexico/76493_10100404696516754_8129654_n.jpeg', :class => 'tilt-left')
    = image_tag('mexico/73208_10100405450440884_547660_n.jpeg', :class => 'tilt-right')
    = image_tag('mexico/148699_10100405450470824_6951292_n.jpeg', :class => 'tilt-left')
    = image_tag('mexico/76250_10100404697719344_6844957_n.jpeg', :class => 'tilt-right')

  %section#moved_in.chapter{"data-speed" => "4", "data-type" => "background"}
  %section#av_family.chapter{"data-speed" => "4", "data-type" => "background"}
  %section#jay_family.chapter{"data-speed" => "4", "data-type" => "background"}
  %section#engagement.chapter{"data-speed" => "4", "data-type" => "background"}
    %a{:href => "http://www.facebook.com/jdoconnor/posts/299129423508963"}
      = image_tag('engagement/adamantium.png', :class => 'tilt-right')

  %section#wedding.chapter{"data-speed" => "4", "data-type" => "background"}